@tailwind base;
@tailwind components;
@tailwind utilities;

.header-title {
    color: #627382;
    padding: 10px;
}
.main-title {
    color: #F82;
    line-height: 24px;
    font-size: 1.25rem;
    font-weight: 500;
}
.main-title-text {
    color: #627383;
    background-color: #F82;
}
.secondary-title {
    color: #82ACDE;
    
}